.ProjectTemplate {
    height: 300px;
    @apply relative w-full overflow-hidden transition-all duration-500 ease-out rounded-sm transform-gpu group;

    &:hover {
        z-index: 1;
        box-shadow: 0 25px 40px rgba(0, 0, 0, .5);
        @apply scale-125;

        &::before {
            opacity: 1;
        }
    }


    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background: linear-gradient(180deg, #f00, #000);
        mix-blend-mode: screen;
        opacity: 0;
        transition: all 0.5s;
    }

    figure {
        @apply box-border relative flex justify-center h-full pt-12 px-14;

        img {
            filter: drop-shadow(20px 20px 0px rgba(0, 0, 0, 0.147563));
            @apply w-full h-full object-fill transition-all duration-700;

        }
    }

    div.textContent {
        @apply absolute bottom-0 z-10 pb-4 pl-6 pr-8 text-white transform-gpu;

        h3 {
            @apply text-3xl font-bold transform-gpu;
        }

        p.description {
            @apply pt-2 pb-2 text-sm transform-gpu;
        }

        p.tools {
            @apply pb-2 text-xs transform-gpu;
        }

        button {
            @apply relative z-20 w-32 text-xs uppercase bg-gdb h-9 duration-200 ease-linear transform-gpu;
            letter-spacing: 2px;

            &:hover {
                @apply text-white bg-sdc;
                transition-delay: 0s;
            }

            &:focus {
                @apply outline-none ring-1 ring-green-500;
            }
        }
    }
}

// transition for textContent

.ProjectTemplate div.textContent button,
.ProjectTemplate div.textContent h3,
.ProjectTemplate div.textContent p.tools,
.ProjectTemplate div.textContent p.description {
    transition-property: transform;
    transform: translateY(400px);
    transition: 0.6s;
}

.ProjectTemplate:hover div.textContent button,
.ProjectTemplate:hover div.textContent h3,
.ProjectTemplate:hover div.textContent p.tools,
.ProjectTemplate:hover div.textContent p.description {
    transform: translateY(0);
}

.ProjectTemplate:hover div.textContent h3 {
    transition-delay: 0.2s;
}

.ProjectTemplate:hover div.textContent p.description {
    transition-delay: 0.3s;
}

.ProjectTemplate:hover div.textContent p.tools {
    transition-delay: 0.35s;
}

.ProjectTemplate:hover div.textContent button {
    transition-delay: 0.4s;
}