.ScrollToTop {
    @apply fixed items-center justify-center w-12 h-12 right-12 bottom-5;
    z-index: 1000;

    .ScrollToTopButton {
        animation: fadeIn 0.5s;
        -webkit-animation: fadeIn 0.5s;
        @apply w-full h-full transition-opacity duration-500 ease-linear opacity-50 cursor-pointer;

        &:hover {
            @apply opacity-100;
        }
    }
}

@media all and (max-width: 490px) {
    .ScrollToTop {
        @apply right-4;
    }
}