@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  scroll-behavior: smooth;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ibarra Real Nova', serif;
}

body {
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, rgb(51, 50, 61, 0.9));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, rgb(51, 50, 61, 1));
}